*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* :root{
    font-size: 17px ;
} */
header a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}
html, body{
    height: 100%;
    width: 100%;
    background-color: rgb(15, 211, 116);
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 17px;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}

header{
    position: static;
    top: 0;
    background-color: rgba(22, 22, 23, 0.933) ;
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -.01em;
    line-height: 1;
}
.vh-50 {
    height: 50vh;
  }